.DS_Store
.env
/node_modules/
/src/node_modules/@sapper/
yarn-error.log
/cypress/screenshots/
/__sapper__/
# this is where we store actual production audiofiles
/src/backend/db/audioFiles
/static/bundle.css
/assets/midi/filelist.json
/assets/midi/files/*
!/assets/midi/files/Tutorials
!/assets/midi/files/chords